input[type="submit"] {
  border:none;
}
.form .block {
  width: 48%;
}
.container.layout .content.layout .profile-goods .info .features .item {
  overflow: hidden;
}
.container.layout .content.layout .profile-goods .info .features .item .description {
  float: left;
  min-width: 473px;
}